@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */

    /* Primary */
    
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    
    /* Gradients */
    /* (background) */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    /* (circle) */
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    
    
    
    /* Neutral */
    
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    font-size: 16px;
    color: var(--Light-lavender);
    font-family: 'Hanken Grotesk', sans-serif;
}
h4 {
    font-size: 1.1em;
}

.result-section {
    text-align: center;
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue) );
    padding: 1.5rem 0 2.5rem 0;
    border-radius: 0 0 30px 30px;
}

.text-final-result {
    margin: 1.5rem 0 1rem 0;
    background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
    border-radius: 100%;
    display: inline-block;
    padding: 1.5rem 2.5rem ;
}

.text-final-result-score {
    color: var(--White);
    font-weight: 800;
    font-size: 3.3em;
}
.text-message {
    padding: 0 2.5rem;
}
.text-message-great {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--White);
    line-height: 2;
}

.summary-section {
    padding: 1.5rem 2rem 2rem 2rem;
}

.summary-section-heading {
    color: var(--Dark-gray-blue);
}

.summary-section-scores {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0 1rem 0;
}
.reaction-text, 
.memory-text,
.verbal-text,
.visual-text {
    display: flex;
    gap: .5rem;
} 
.summary-section-score {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
}

.reaction {
    background: hsl(0, 100%, 67%, .1);
}
.memory{
    color: hsl(39, 100%, 56%, .1);
}
.verbal{
    color: hsl(166, 100%, 37%, .1);
}
.visual {
    color: hsl(234, 85%, 45%, .1);
}

.reaction-text {
    color: var(--Light-red);
}
.memory-text {
    color: var(--Orangey-yellow);
}
.verbal-text {
    color: var(--Green-teal);
}
.visual-text  {
    color: var(--Cobalt-blue);
}

.score {
    color:var(--Dark-gray-blue);
}
.over100 {
    color: var(--Light-lavender);
    font-weight: 700;
} 
.btn {
    width: 100%;
    padding: 1rem;
    background-color: var(--Dark-gray-blue);
    color: var(--Pale-blue);
    border: none;
    border-radius: 50px;
    font-size: 1.1em;
    font-weight: 700;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 1rem;
    background: var(--Light-royal-blue);
 }
.attribution a { color: hsl(0, 0%, 100%); }